<div class="divider"></div>
<div #vip class="vip-background">
  <div class="vip">
    <div class="vip-area">
      <div>
        <div class="vip-title">VIP</div>
        <div class="vip-text">
          Com o passe vip você tem acesso à acessórios exclusivos e acesso
          imediato aos nossos servidores
        </div>
      </div>
      <a href="https://store.brasa.gg" target="_blank" class="vip-button">
        <div class="vip-button-txt">Visite nossa loja</div>
      </a>
    </div>
  </div>
</div>
<div class="divider"></div>
