<div class="divider"></div>
<div #vip class="vip-background">
  <div class="vip">
    <div class="vip-header">
      <div class="vip-title">VIP</div>
      <div class="vip-text">
        Com o passe vip você tem acesso à acessórios exclusivos e acesso
        imediato aos nossos servidores
      </div>
    </div>
    <div class="vip-button">
      <div class="material-icons vip-icon mp-22">shopping_cart</div>
      <div class="vip-button-txt">Visite nossa loja</div>
    </div>
  </div>
</div>
<div class="divider"></div>
