<div class="safe-area"></div>
<div class="home-background">
  <div id="server" class="home">
    <div class="server-area">
      <div class="server-text">
        <a>VANILLA</a>
      </div>

      <div
        (click)="copyMessage('connect vanilla.brasa.gg')"
        class="copy-button"
      >
        <a class="copy-text">connect vanilla.brasa.gg</a>
        <div class="material-icons copy-icon">content_copy</div>
      </div>
    </div>
    <div class="server-area">
      <div class="server-text">
        <a>2x</a>
      </div>
      <div (click)="copyMessage('connect 2x.brasa.gg')" class="copy-button">
        <a class="copy-text">connect 2x.brasa.gg</a>
        <div class="material-icons copy-icon">content_copy</div>
      </div>
    </div>
  </div>
</div>
